APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=latihan_chatbot
DB_SSLMODE=disable

AGENT_URL=http://127.0.0.1:8082
AGENT_API_KEY=

INGESTION_PORT=8081
INGESTION_API_KEY=

WORKER_INTERVAL_MENIT=1